div {
    width: 100px;
    height: 100px;
    background-color: black;
    animation: loading 5s forwards infinite;
}

body {
    background-color: lightblue;
}
/* Your code goes here: */

@keyframes loading {
    0%{
        transform: translateX(250px);
    }
    25%{ 
        transform: translateX(500px) translateY(500px);
    }
    50%{
        transform: translateY(150px);
    }
    75%{
        transform: translateX(300) translateY(300px);
    }
    100%{
        transform: translateX(250px) translateY(0);
    }
}